.some-page-wrapper {
    background-color: white;
    justify-content: center;
}
  
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    position: sticky;
    display:inline-block; 
}
 
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 0px;
    position: relative;
    color: black;
    min-height: 100vh;
}
  
.left-column {
    /* background-color: blue; */
    background-image: url("../assets/background.jpg");
    background-size: cover;

    height: 100%;
    width: 100%; 
    box-sizing: border-box;
    /* border: 5px solid red; */

    display: flex;
    justify-content: center;

}
  
.right-column {
    background-color: white;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    /* border: 5px solid green; */

}
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */
/* ================================================================================ */

/* form {
    position: relative;
    background-color: #F3E6E4; 
}*/

label {
    display: inline-block;
    width: 50%;
	text-align: center;
    margin: 10px;
    font-weight: normal;
}
.create-user {
    position: relative;
    border: 1px solid pink;
}

.buttons {
    display:inline-block;
}
h1, h2 {
    padding-top: 6%;
    padding-bottom: 4%;
    font-size: large;
    text-align: center;
}


/* h5 {
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 20%;
} */

input[type=text] {
    position: relative;
    border-radius: 5px;
    width: 220px;
}
input[type=submit], input[type=button] {
    width: 200px;
    position: relative;
    justify-content: space-between;
    display: inline-block;
    margin: 5%;
    margin-left: 10%;
    padding: 15px 15px;
    font-size: 1em;
    text-align: center;
    border: none;
    border-radius: 50px;
    
}

input[type=submit] {
    background-color: rgb(249, 143, 86);
    color: white;
}

button {
    display: inline-block;
    /* padding: 15px 25px; */
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #f98f56;
    border: none;
    border-radius: 15px;
  }
  



/* .flex-container { 
    display: flex;
    justify-content: center;
    background-color: DodgerBlue;
    flex-direction: row;

    position: relative;
    margin: 5% auto;
    height: 800px;
    width: 1200px;
    /* background: #fff; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

  } */
/*   
.box {
    position: absolute;
    float: left;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 50%;
    height: 50%;    
    border-color: red;
    border-style: solid;
  } */
  
#login-box {
    position: relative;
    margin: 5% auto;
    height: 400px;
    width: 600px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}


.left-box {
    position: absolute;
    float: left;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;    
    border-color: red;
    border-style: solid;
    
}

.right-box {
    background-color: red;
    position: relative;
    margin: 5% auto;
    height: 400px;
    width: 600px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    border-color: red;
    text-align: center;
}

/* .row:after {
    content: "";
    display: table;
    clear: both;
} */

ul {
    list-style-type:none;
    padding-top: 10%;
    padding-bottom: 10%;
}

li {
    padding: 20px;
}

.text-block {
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 10px;
    max-height: 200px;
    padding: 21px;
    justify-self: center;
    align-self: center;
    max-width: 600px;
}


/* Something's wrong with the form and its children elements, otherwise the sizes would be maintained. */