@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}
.column {
  float: left;
  width: 25%;
  border-left: 1px solid rgb(90, 88, 88);
  height: 500px;
}

/* Clear floats after the columns */
.dashboard:after {
  content: "";
  display: table;
  clear: both;
  margin: 0;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .bar {
    width: 100%;
  }
}
.dashboard {
  margin-top: 10vh;
  width: 85%;
  height: 100%;
  display: block;
}
.screen {
  display: flex;
  background: rgb(252, 249, 249);
}
.bar {
  width: 15%;
  display: block;
  border-right: 1px solid white;
}
.done-title {
  background-color: #48a690;
  height: 1.5cm;
  width: 7.5cm;
  color: white;
  position: fixed;
}
.review-title {
  background-color: #f98f56;
  height: 1.5cm;
  width: 7.5cm;
  color: white;
  position: fixed;
}
.accepted-title {
  background-color: #609eeb;
  height: 1.5cm;
  width: 7.5cm;
  color: white;
  position: fixed;
}
.help-title {
  background-color: #f24e4e;
  height: 1.5cm;
  width: 7.5cm;
  color: white;
  position: fixed;
}

title {
  flex-grow: 1;
}

.col-content {
  padding-top: 1cm;
}
