@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}
/* ==================================================================================== */
/* ==================================================================================== */
/* ==================================================================================== */
.dashboard {
  margin-top: 10vh;
  width: 85%;
  height: 100%;
  display: block;
  height: 100%;
}

/* Clear floats after the columns */
.dashboard:after {
  content: "";
  display: table;
  clear: both;
  margin: 0;
}

.column {
  float: left;
  width: 25%;
  border-left: 1px solid black;
  height: 500px;
}

/* ==================================================================================== */
/* ====================================== Titles ====================================== */
/* ==================================================================================== */
title {
  flex-grow: 1;
}

.column-title {
  height: 5%;  
  text-align: center;
}
.column-title-h5 {
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;

}

.help-title {
  background-color: #f24e4e;
  color: white;
  /* height: 5%; */
}
.accepted-title {
  background-color: #609eeb;
  color: white;
  /* height: 5%; */
}
.review-title {
  background-color: #f98f56;
  color: white;
  /* height: 5%; */
}
.done-title {
  background-color: #48a690;
  color: white;
  /* height: 5%; */
}


/* ==================================================================================== */
/* ================================== New Task Button ================================= */
.button-new-task {
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #f98f56;
  border: none;
  border-radius: 15px;
  width: 90%;
  height: 100px;
  margin: 2vh;
}

/* ==================================================================================== */

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .bar {
    width: 100%;
  }
}
.screen {
  display: flex;
}
.bar {
  width: 17%;
  display: block;
  border-right: 1px solid white;
}

/* ==================================================================================== */
